"*":
  core:
    themes: [
      "one-dark-ui"
      "atom-monokai"
    ]
  editor:
    fontSize: 15
    invisibles: {}
    preferredLineLength: 120
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    wrapGuide: 0
  emmet: {}
  "exception-reporting":
    userId: "0085c2f5-c36a-292e-7b87-0956a8f039b1"
  "terminal-plus":
    core: {}
    style: {}
  welcome:
    showOnStartup: false
